@{
    ViewData["Title"] = "Add";
}
<section class="container content-section">
    <div class="shop-items">
        <div class="shop-item">
            <span class="shop-item-title">Apple</span>
            <img class="shop-item-image" src="https://img.freepik.com/free-photo/apples-red-fresh-mellow-juicy-perfect-whole-white-desk_179666-271.jpg?t=st=1651324549~exp=1651325149~hmac=f4c24974c22d42544f230f88e98a7b340d865b79c6d217e6f1b5b65d8e86047b&w=996">
            <div class="shop-item-details">
                <span class="shop-item-price">RM5.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Red Onion</span>
            <img class="shop-item-image" src="https://img.freepik.com/free-photo/red-onion-whole-isolated-white_146671-19175.jpg?t=st=1651197911~exp=1651198511~hmac=50916244ed01802cec3118a3aab5bb62485aa7cef5606af2bc8f93000f3b9fc8&w=996">
            <div class="shop-item-details">
                <span class="shop-item-price">RM3.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Fresh Meat</span>
            <img class="shop-item-image" src="https://img.freepik.com/free-photo/raw-meat_144627-33845.jpg?t=st=1651388829~exp=1651389429~hmac=1526ac20385ecb8f8f140a33c19d27b79123535a02a7481e2014be0386616a9b&w=900">
            <div class="shop-item-details">
                <span class="shop-item-price">Rm10.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Fresh Cabbage</span>
            <img class="shop-item-image" src="https://img.freepik.com/free-photo/organic-background-green-vegetarian-nutrition_1203-5845.jpg?t=st=1651388889~exp=1651389489~hmac=44530651554c3a8352c613b9fa209620f0c625c22e9dc440f3d82e4e85f54b42&w=900">
            <div class="shop-item-details">
                <span class="shop-item-price">RM5.00</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Fresh Potato</span>
            <img class="shop-item-image" src="https://img.freepik.com/free-photo/potato-table_144627-14824.jpg?t=st=1651388976~exp=1651389576~hmac=053cefeeda86095d70e5cd0d474507dfd672cad2b579060e7bdce6f6742b8401&w=740">
            <div class="shop-item-details">
                <span class="shop-item-price">RM4.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Fresh Avocado</span>
            <img class="shop-item-image" src="https://img.freepik.com/free-photo/green-avocados-white-surface_144627-45153.jpg?t=st=1651389130~exp=1651389730~hmac=f5ce388f2a9861156f63929154bbf9d64c5a2b30d332d2e2784d35af16ef1455&w=900">
            <div class="shop-item-details">
                <span class="shop-item-price">RM8.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Fresh Carrot</span>
            <img class="shop-item-image" src="https://img.freepik.com/free-photo/carrots-ready-eat_1205-49.jpg?1&t=st=1651389144~exp=1651389744~hmac=3c881a300985ec0080e05fee78f782d98e67e4b7acd20569a66665b5b04228e1&w=900">
            <div class="shop-item-details">
                <span class="shop-item-price">RM5.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Lemon</span>
            <img class="shop-item-image" src="https://img.freepik.com/free-photo/lime-table_144627-22166.jpg?t=st=1651389178~exp=1651389778~hmac=650136afc126485fd308a8cb28684501d7e013ecc9fa8763a502ded300c525a6&w=740">
            <div class="shop-item-details">
                <span class="shop-item-price">RM4.00</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
    </div>

    <section class="container content-section">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">RM0</span>
        </div>
        <a href="@Url.Action("Checkout","Home")" class="btn">Add to Cart</a>
    </section>


 @section Scripts{
 <script src="~/js/add.js"></script>
 }
